body { 
    padding-top: 70px;
    padding-bottom: 70px;
}
.container {
    padding: 5px;
}

.clickable-row {
    cursor: pointer;
}

.glyphicon-star {
    font-size: 18px;
    color: #ffad33;
}

.glyphicon-star-empty {
    font-size: 18px;
    color:  #ffad33;
}

.navbar-brand {
    cursor: default;
    font-size:26px;
}

.navbar-brand b {
    color: #FFFFFF;
}

.genre_option {
    cursor: pointer;
}

#__bs_notify__ {
    top:92% !important;
    right: 12px !important;
    border-radius: 5px !important;
    height:45px !important;
 }

.glyphicon-ring {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 8px solid #337ab7;
    color: #337ab7;
    display: inline-table;
    text-align: center;
  }
  
.glyphicon-bordered {
    font-size: 50px;
    vertical-align: middle;
    display: table-cell;
 }
.container_icon {
    width: 120px;
}

.col-sm-2 {
    padding-top: 20px;
}

.col-sm-10 {
    padding-top: 15px;
}

.alert-fixed {
    position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px;
    /*margin-top: 10px;*/
}

